*{
    margin: 0;
    padding: 0;
}
body{
     background-image: linear-gradient(to right, rgb(152, 130, 130), rgb(182, 12, 63), rgb(230, 100, 139));
    background-repeat: no-repeat;
}
.header{
   font-size: 60px;
   font-family: "Imperial Script", cursive;
    text-align: center;
}

.heading{
    font-size: 60px;
   font-family: "Imperial Script", cursive;
    text-align: center;
    color: aliceblue;
    display: inline-block;
}

.container{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.title{
    width: 298px;
    border-radius: 30px;
      border: 2px solid rgb(13, 171, 228); 
}
.player{
    width: 300px;
    margin: 50px auto;
    text-align: center;
    background-color: rgb(255, 0, 115);
    border-radius: 30px;
    box-shadow: 5px 10px 30px rgb(135, 137, 137);
    border: 2px solid rgb(13, 171, 228);
}
.player:hover{
    box-shadow: 15px 10px 30px rgb(13, 182, 234);
}
#progress{
    width: 60%;
    margin: 10px;
    accent-color: white;
}
#time{
    color: black;
    font-size: 10px;
}
.sname{
    font-size: 25px;
    font-family: "Imperial Script", cursive;
} 
.btn{
    border-radius: 50px;
     box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
     padding: 2px;
     margin: 5px;
     transition: transform 0.4s;
     cursor: pointer;
}
.btn:hover{
     transform: scale(1.03);
     box-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}
.btn:active{
      box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.4);
}