body{
    background-color: black;
    background-image: linear-gradient(to right, black, rgb(57, 56, 56), rgb(124, 119, 119));
    background-repeat: no-repeat;
}

/* first page */
.heading{
    font-size: 60px;
    font-family: "Rouge script";
    text-align: center;
    color: aliceblue;
}
.back{
      display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    left: 400px;
    background-image: url(./images/background1gift.gif);
    width: 500px;
    height: 500px;
    border-radius: 50px;
    box-shadow: 20px 20px 80px rgb(13, 171, 228);
}
.back:hover{
    background-image: url(./images/background2\ gift.gif);
    cursor: pointer;
     box-shadow: 20px 20px 80px rgb(228, 13, 120);
}
.button{
    text-decoration: none;
}
.visit{
    position: relative;
    left: 500px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: aliceblue;
    color: rgb(250, 33, 69);
    padding: 15px;
  border-radius: 20px;
  margin-top: 10px;
}
.visit:hover{
  background-color: black;
  color: aliceblue;
  cursor: pointer;
  text-decoration: none;
}


/* second page */
.container{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.title{
    width: 300px;
    border-radius: 30px;
}
.player{
    width: 300px;
    margin: 50px auto;
    text-align: center;
    background-color: gold;
    border-radius: 30px;
    box-shadow: 5px 10px 30px rgb(135, 137, 137);
}
.player:hover{
    box-shadow: 15px 10px 30px rgb(13, 182, 234);
}
#progress{
    width: 60%;
    margin: 10px;
    accent-color: white;
}
#time{
    color: black;
    font-size: 10px;
}
.sname{
    font-size: 25px;
     font-family: "IBM Plex Serif", serif;
} 
.btn{
    border-radius: 50px;
     box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
     padding: 2px;
     margin: 5px;
     transition: transform 0.4s;
     cursor: pointer;
}
.btn:hover{
     transform: scale(1.03);
     box-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}
.btn:active{
      box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.4);
}