body{
    background-color: black;
    background-image: linear-gradient(to right, rgb(152, 130, 130), rgb(182, 12, 63), rgb(230, 100, 139));
    background-repeat: no-repeat;
}
.header{
   font-size: 60px;
   font-family: "Imperial Script", cursive;
    text-align: center;
}
.heading{
    font-size: 60px;
   font-family: "Imperial Script", cursive;
    text-align: center;
    color: aliceblue;
    display: inline-block;
}
.back{
      display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    left: 400px;
    background-image: url(./images/background1gift.gif);
    width: 500px;
    height: 500px;
    border-radius: 50px;
    box-shadow: 20px 20px 80px rgb(13, 171, 228);
    border: 5px solid rgb(228, 13, 120) ;
}
.back:hover{
    background-image: url(./images/background2\ gift.gif);
    cursor: pointer;
     box-shadow: 20px 20px 80px rgb(20, 20, 20);
       border: 2px solid rgb(13, 171, 228);
}
.button{
    text-decoration: none;
}
.visit{
    position: relative;
    left: 500px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: aliceblue;
    color: rgb(250, 33, 69);
    padding: 15px;
  border-radius: 20px;
  margin-top: 10px;
}
.visit:hover{
  background-color: black;
  color: aliceblue;
  cursor: pointer;
  text-decoration: none;
}